<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trap Web</title>
</head>
<body bgcolor='#ffffff'>
    <form method="POST">
        <p>
        	<textarea id="first" name="text" type="text" rows="10" cols="50">I see the devil no heels
I am a demon mode kill
They want me nude in a film
I don't do check in I pirt
I came here with lions, the heart of a tiger, got stripe like a Bengal
Straight out Jumanji, I walk in like Charlie I come with the angels
</textarea>
        </p>
		TEMPO <input type="number" id="bpm" name="bpm" value="80.0" step="1" min="40.0" max="200.0">
		OCTAVE <input type="number" id="octave" name="octave" value="5" step="1" min="3" max="7">
	</p>
        <input type="submit" value="Synthesize">
    </form>
</body>
</html>